{% extends 'base.html.twig' %}

{% block title %}MusicStore!{% endblock %}

{% block body %}
<section class="carousel ">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-70" src="../images/carousel/slider1.jpg" alt="First slide" class="img-fluid">
            </div>
            <div class="carousel-item">
                <img class="d-block w-70" src="../images/carousel/slider2.jpg" alt="Second slide" class="img-fluid">
            </div>
            <div class="carousel-item">
                <img class="d-block w-70" src="../images/carousel/slider3.jpg" alt="Third slide" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="choices container">
    <div class="content">
        <a href="{{path('guitare')}} ">
            <div class="choice1">
                <h3>Guitares</h3>
                <img src="../images/choices/guitare.jpg" alt="image de guitare" class="img-fluid">
            </div>
        </a>
        <a href="{{path('ampli')}} ">
            <div class="choice1">
                <h3>Amplification</h3>
                <img src="../images/choices/ampli.jpg" alt="image d'ampli" class="img-fluid">
            </div>
        </a>
        <a href="{{ path('basse')}} ">
            <div class="choice1">
                <h3>Basses</h3>
                <img src="../images/choices/basse.jpg" alt="image de basse" class="img-fluid">
            </div>
        </a>
        <a href="{{ path('batterie')}} ">
            <div class="choice1">
                <h3>Batteries</h3>
                <img src="../images/choices/batterie.jpg" alt="image de batterie" class="img-fluid">
            </div>
        </a>
        
    </div>
</section>
<div class="container home">
    <div class="history ">
        <h2 class="reveal-1">Historique</h2>
        <div class="history_content reveal-2 row">
                <div class="amplification_text col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <p>En situation de concert, les musiciens jouent sur scène face au public. De chaque côté de la scène, se trouve le système de sonorisation façade. Ce sont des haut-parleurs qui amplifient et diffusent la musique produite sur scène en direction du public. Le sonorisateur, responsable de la gestion du son, est généralement placé au milieu du public, centré dans l’axe de diffusion des haut-parleurs. Son rôle est de traiter et mixer les différentes sources sonores afin d’obtenir la qualité d’écoute souhaitée pour le public.
                        Parallèlement, un deuxième système de diffusion est destiné spécifiquement aux musiciens. En effet, l’espacement entre les musiciens rend difficile pour eux l’écoute de l’ensemble. De plus, le système de diffusion de façade provoque un fort retour du son de la salle vers la scène qui vient masquer le son directement produit par les musiciens. Pour éviter ce phénomène, des haut parleurs (couramment appelés des “retours”) dirigés vers chaque musicien sont installés sur scène. Le sonorisateur chargé des retours est généralement placé à proximité de la scène du côté des musiciens. Son travail consiste à équilibrer le son sur scène pour chaque musicien.</p>
                </div>
                <div class="amplification_img col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <img src="../images/amplification2.jpg" alt="image d'ampli" class="img-fluid w-100"  >
                </div>
            </div>
        
    </div>
    <div class="lamp">
        <h2 class="reveal-1">Ampli à lampes</h2>
        <div class="history_content reveal-2 row">
            <div class="amplification_img col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <img src="../images/amplification3.jpg" alt="image d'ampli" class="img-fluid w-100" >
            </div>
            <div class="amplification_text col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <p>L’histoire de l’amplificateur à ampoule débute en 1904 grâce à l’Anglais Ambroise Fleming qui crée la diode à tube.
                    Pour réaliser cette diode, il s’est appuyé sur le principe que le courant positif passe d’un filament (comme dans une ampoule) chauffé à une plaque réceptrice, ce qui n’est pas le cas pour un courant négatif.
                    Sa diode comporte deux éléments, à savoir : un filament et un cylindre en tôle.
                    Le filament, aussi appelé cathode, est légèrement chauffé ce qui déclenche la production d’électrons.
                    La tôle, qui porte aussi le nom de plaque ou encore d’anode, entoure le filament et capte les électrons que ce dernier libère.
                    Pour que tout se passe bien, ces 2 éléments doivent être sous vide. Cela explique la raison pour laquelle ils sont enfermés dans une ampoule en verre. C’est de là d’ailleurs que viennent les différentes appellations de l’amplificateur : à lampe, à ampoule ou encore à tube.</p>
                    <p>Deux ans plus tard, l’Américain Lee De Forest célèbre dans le monde de l’audio, ajoute un troisième élément à la diode de Fleming. Il tourne un fil autour de la cathode en veillant qu’ils n’entrent pas en contact et en évitant aussi de toucher à la plaque.
                        Ce nouvel élément est appelé grille de contrôle et forme avec les deux autres éléments le premier circuit capable d’amplifier la puissance électrique.
                        Il ne reste plus qu’à apporter des modifications pour supprimer les différents défauts de ce circuit initial mais la base est jetée.
                        C’est en ajoutant deux nouveaux éléments à la triode existante que l’amplification a atteint un niveau de qualité tout à fait satisfaisant, voire exceptionnel selon certains.</p>
            </div>
        </div>
    </div>
    <div class="transistor ">
        <h2 class="reveal-1">Ampli à transistors</h2>
        <div class="history_content reveal-2 row">
            <div class="amplification_text col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <p>Des spécialistes nous font souvent le coup (très impressionnant) de l'explication scientifique que le transistor produit des harmoniques impaires désagréables à entendre alors que la lampe produit des harmoniques paires agréables à l'oreille... et ça nous laisse l'impression qu'il n'existe rien qui puisse corriger les harmoniques indésirables!

                    Les spécialistes oublient aussi de nous dire qu'il existe plusieurs sortes de transistors et que les transistors MOSFET à effet de champ (conçus dès 1920 et construits à partir de 1960) réagissent de la même manière que les lampes...
                    
                    Les puristes objecteront que le transistor MOSFET ne sera jamais EXACTEMENT semblable à une lampe. Cette objection serait recevable si toutes les lampes appartenant au même modèle commençaient par montrer l'exemple en étant absolument semblables entre elles. Or ce n'est pas le cas: aucune lampe n'est parfaitement identique à une autre lampe du même modèle et de la même marque! C'est d'ailleurs pour pallier à cet inconvénient que Groove Tubes teste ses lampes sur un banc électronique et les classe ensuite en différentes graduations allant de 1 à 10.
                    
                    Il faut de plus prendre en compte que le même modèle de lampe proposé par des marques différentes aura des qualités elles aussi différentes, et que la sonorité d'une lampe change très progressivement mais irrémédiablement à cause de l'usure due à son utilisation.
                    
                    De tout ceci il ressort que pour comparer le rendu de différentes lampes entre elles et le rendu des lampes avec celui des MOSFET il vaut mieux s'accomoder d'une marge d'erreur plutôt que de se borner au strict chipotage mathématique.</p>
            </div>
            <div class="amplification_img col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <img src="../images/amplification1.jpg" alt="image d'ampli" class="img-fluid w-100" >
            </div>
        </div>
    </div>
</div>
{% endblock %}