{% extends "base.html.twig" %}
{% block title %}
    {{ item.marque.name }}-{{item.model}}
{% endblock %}
{% block body %}
    <div class="menu_show">
        <span><a href="{{path('home')}} ">accueil&gt;</a></span>
        <span><a href="{{ path('basse')}} ">basse</a></span>
        <span>&gt;{{item.marque.name}}</span>
    </div>
    <div class="container_show">

        <div class="content_guitare_left">
            <div class="photo">
                <a href="{{item.image}}">
                    <img src="{{ item.image}} " alt="" width="50%" class="mean_img">
                </a>
                <div class="carousel_show">
                    
                      {% if item.image2 %}
                        <a href="{{ item.image2}} ">
                            <img src="{{ item.image2}}" alt="" >
                        </a>
                    {% endif %}
                    {% if item.image3 %}
                        <a href="{{ item.image3}} ">
                            <img src="{{ item.image3}}" alt="" >
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="description">
                <h2>Description</h2>
                <p>{{ item.description | nl2br}}</p>
            </div>
        </div>


        <div class="content_guitare_right">
            <div class="title_guitare_show">
                <h4 >{{item.marque.name}} </h4>
                <p>{{ item.model }} 
                <span>{{ item.categorie }}</span> </p>
            </div>
            <div class="price_show">
                <p>{{item.price | number_format(2, '.', ',')}} €</p>
                <a href=" ">Ajouter au panier</a>
            </div>
            <div class="condition">
                <p><span class="material-icons">
                    phone_iphone
                    </span>Besoin d'un conseil 0 820 820 820.</p>
                <p><span class="material-icons">
                    local_shipping
                    </span>Livraison offerte dès 49 € d'achat.</p>
                <p><span class="material-icons">
                    thumb_up
                    </span><strong>Garantie : </strong>garantie 5 ans <br><strong>satisfait ou rembousé : </strong>sous 30 jours</p>
            </div>
            <div class="caracteristiques">
                <h2>Caractéristiques</h2>
                <p>{{ item.caracteristques | nl2br}}</p>
            </div>
        </div>
    </div>
{% endblock %}