{% extends 'base.html.twig' %}

{% block title %}Batterie acoustique{% endblock %}

{% block body %}
<div class="containerChoix">
    {% for categorie in categories %}
    <a href="{{ path('showBatterieCategorie',{slug:categorie.slug})}} ">
        <div class="carde">
            <img src="{{categorie.image}} " alt="choix des catégories">
            <p>{{categorie.name}}</p>
        </div>
    </a>
    {% endfor %}
</div>

<div class="container_page_guitare js-filter">

    <aside class="widget">
        <!-- côté gauche -->
        <h1>Rechercher</h1>

        <div class="search">
            {% include "includes/aside.html.twig" %}
        </div>
    </aside>
    <!-- côté droit -->
    <div class="liste_guitare">

        <div class="content js-content">
            {% for item in items %}
            <a href="{{path('batterieShow',{slug:item.slug})}} ">
                <div class="carde">
                    <div class="carde_img">
                        <img src="{{item.image}} " alt="">
                    </div>
                    <div class="cardTitle">
                        <h2>{{item.marque.name}} </h2>
                        <h3>{{ item.model}} &nbsp;{{item.id}} </h3>
                    </div>
                    {% if item.promo == 1 %}
                    <div class="card_price">
                        <strike>{{ item.price | number_format(2, ',', '.') }} €</strike>
                        <p class="text-danger">{{ item.prixpromo | number_format(2, ',', '.') }} €</p>
                    </div>
                    {% else %}
                    <p>{{ item.price | number_format(2, ',', '.') }} €</p>
                    {% endif %}
                    <small>{{ item.categorie}} </small>
                    <div class="stock">
                        {% if item.stock.quantite > 0 %}
                            <p class="if"><span></span>En stock </p>
                        {% else %}
                            <p class="else"><span></span>En cours de reaprovisionement</p>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(items)}}
        </div>
    </div>
</div>

{% endblock %}