<form action="" method="get" class="js-form">
    <div class="select">
        <select name="order" id="">
            <option value="">Trier par</option>
            <option value="ASC">par prix croissant</option>
            <option value="DESC">par prix decroissant</option>
        </select>
    </div>
    <h2>Nos marques</h2>
    <div class="count">
        {% for c in count %}
        <label for="{{c.name}} ">
            <input type="checkbox" name="marque[]" id="{{c.name}} " value="{{c.name}} ">{{ c.name}} ({{c.nbre}})
        </label>
        {% endfor %}
    </div>
    <h2>Filtrer par prix</h2>
    <div class="price">
        <!-- <input type="number" name="prixmin" placeholder="{{min}} €">
        <input type="number" name="prixmax" placeholder="{{ max }} €"> -->
        {% include 'includes/price.html.twig'%}
    </div>
</form>