{% for item in items %}

<a href="{{path('show',{slug:item.slug})}} ">
    <div class="carde">
        <div class="carde_img">
            <img src="/uploads/images/{{item.image}} " alt="">
        </div>
        <div class="cardTitle">
            <h2>{{item.marque.name}} </h2>
            <h3>{{ item.model}} &nbsp;{{item.id}} </h3>
        </div>
        {% if item.promo == 1 %}
        <div class="card_price">
            <strike>{{ item.price | number_format(2, ',', '.') }} €</strike>
            <p class="text-danger">{{ item.prixpromo | number_format(2, ',', '.') }} €</p>
        </div>
        {% else %}
        <p>{{ item.price | number_format(2, ',', '.') }} €</p>
        {% endif %}
        <small>{{ item.categorie}} </small>
        <div class="stock">
            {% if item.stock.quantite > 0 %}
                <p class="if"><span></span>En stock </p>
            {% else %}
                <p class="else"><span></span>En cours de reaprovisionement</p>
            {% endif %}
        </div>

    </div>
</a>
{% endfor %}