
{% for categorie in categories %}
<a href="{{ path('showGuitareByCategory',{slug:categorie.slug})}} ">
    <div class="carde">
        <img src="/uploads/images/category/{{categorie.image}} " alt="choix des catégories" >
        <p>{{categorie.name}}</p>
    </div>
</a>
{% endfor %}