<button class="btn-popup">
    <span class="material-icons">
        close
    </span>
</button>


<div class="searchList">
    {% for item in searchs %}
    <a href="{{path('search',{slug:item.slug})}}">
        <p> <img src="/uploads/images/{{ item.image }} " alt="" width="50px">
            <strong>{{ item.marque }}</strong><span>{{ item.model}} </span>
        </p>
    </a>
    {% endfor %}
</div>