{% extends "base.html.twig" %}
{% block title %}
    {{ item.marque.name }}
{% endblock %}

{% block body %}
    <div class="menu_show">
        <span><a href="{{path('home')}} ">accueil&gt;</a></span>
        <span><a href="{{ path('guitare')}} ">guitare</a></span>
        <span>&gt;{{item.marque.name}}</span>
    </div>
    <div class="container_show">


        <div class="content_guitare_left">
            <div class="photo">
                <a href="/uploads/images/{{item.image}}">
                    <img src="/uploads/images/{{ item.image}} " alt="" width="50%" class="mean_img">
                </a>
                <div class="carousel_show">
                    <a href="/uploads/images/{{ item.image2}} ">
                        <img src="/uploads/images/{{ item.image2}}" alt=""  >
                    </a>
                    {% if item.image3 %}
                        <a href="/uploads/images/{{ item.image3}} ">
                            <img src="/uploads/images/{{ item.image3}}" alt="" >
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="description">
                <h2>Description</h2>
                <p>{{ item.description | nl2br}}</p>
            </div>
        </div>


        <div class="content_guitare_right">
            <div class="title_guitare_show border">
                <h4 >{{item.marque.name}} </h4>
                <p>{{ item.model }} 
                <span>{{ item.categorie }}</span> </p>
            </div>
            <!-- Ajouter au panier -->
            <a href=" {{path('add',{id:item.id} )}}">ajouter au panier</a>

            <div class="price_show">
                <p>{{item.price | number_format(2, '.', ',')}} €</p>
            </div>
            <div class="condition">
                <p><span class="material-icons">
                    phone_iphone
                    </span>Besoin d'un conseil 0 820 820 820.</p>
                <p><span class="material-icons">
                    local_shipping
                    </span>Livraison offerte dès 49 € d'achat.</p>
                <p><span class="material-icons">
                    thumb_up
                    </span><strong>Garantie : </strong>garantie 5 ans <br><strong>satisfait ou rembousé : </strong>sous 30 jours</p>
            </div>            <div class="caracteristiques">
                <h2>Caractéristiques</h2>
                <p>{{ item.caracteristques | nl2br}}</p>
            </div>
        </div>
    </div>
{% endblock %}