.header{
    background-color: #000;
    height: 150px;
    .menu_admin{
        ul{
            height: 40px;
            width: 100%;
            position: relative;
            top:100px;
        }
        li{
            list-style: none;
            float:left;
            border-right: 1px solid white;
            padding:0 16px;
            a{
                color:white;
                text-decoration:none;
                font-size: 14px;
            }
        }
    }
}

.container{
    margin: 50px 150px;

    .formulaire{
        .guitare{
            padding: 50px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        }
        .stock{
            padding:50px;
            border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        }
            h2{
                font-weight: 250;
                color:rgb(0, 132, 255);
            }
            form{
                display:grid;
                grid-template-columns: repeat(2, 1fr);
                gap:30px;
                padding: 8px;
               
                    label[for=ampli_guitare_promo]{
                        display: inline-block;
                        width: 70%;
                        
                    }
                    input[type=checkbox]{
                        height: 15px;
                        width: 15px;
                        display: inline-block;
                    }
                input{
                    height: 30px;
                    width: 400px;
                    outline:none;
                }
                textarea{
                    width: 400px;
                    height: 80px;
                    outline:none;
                }
                label{
                    display: block;
                }
                button{
                    height: 40px;
                    width: 160px;
                    background-color: green;
                    color:white;
                    border:none;
                    cursor:pointer;
                    border-radius:5px;
                    outline:none;
                    margin-left: 240px;
                }
            }
        
    }
    
}

.container_edit_guitar{
    margin:48px 80px;
    form{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 160px;
        input{
            width: 500px;
        }
        label{
            display:block;
            font-size: 16px;
            font-weight: bold;
        }
        textarea{
            width: 500px;
            height: 96px;
        }
        button{
            margin-top: 8px;
            background-color: green;
            color:white;
            width: 160px;
            border:none;
            outline: none;
            cursor:pointer;
            border-radius: 5px;
            height:40x;

        }
    }

}