//@import "admin";
@import "guitare";
@import "panier";
@import "~bootstrap/scss/bootstrap";

.move{
    transform:translateX(160px);
    transition:0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100vw;
    

    header {
        height: 200px;
        width: 100%;
        background-color: rgb(59, 69, 77);
        position: relative;

        .contact{
            background-color: rgb(56, 55, 55);
            height: 60px;
            width: 100%;
            padding:8px;
            .hamburger{
                display: none;
            }
            span.left{
                float: left;
                margin-left: 48px;
            }
            span{
                color:#fff;
                float:right;
                margin-right: 48px;
                line-height: 48px;
                height: 44px;
                span.phone{
                    width: 160px;
                    background-color: #fff;
                    color:black;
                    font-weight: bold;
                    margin-left: 16px;
                    border-radius: 32px;
                    padding:0 8px;
                    text-align: center;
                }
            }
        }
        .logo{
            height: 30px;
            position: absolute;
            top:50%;
            left:30px;
            h1{
                font-family: 'Bangers', cursive;
                color:white;

            }
            
           
        }
        .header_panier{
            position: relative;
            top:-30px;
            color:white;
            width: 300px;
            height: 100px;
            float: right;
            font-size: 24px;
            span:nth-child(1){
                vertical-align: top;
                font-size: 17px;
                background-color: rgb(139, 62, 120);
                padding: 0 8px;
            }
            .panierText{
                font-size: 12px;
                vertical-align: top;
            }
            .popup_panier{
                display: none;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                position: relative;
                right: 60px;
                top:8px;
                padding: 8px;
                // height: 140px;
                width: 340px;
                z-index:200;
                background-color: #fff;
                border-radius:4px;
                box-shadow: 0 0 10px  black;
                .result_panier{
                    border:1px solid rgba(128, 128, 128, 0.527);
                    padding: 4px;
                    display: grid;
                    grid-template-columns: 20% 60% 20%;
                    p{
                        color:black;
                        font-size: 12px;
                        margin: 0;
                        padding: 0;
                    }
                }
                span{
                    display: block;
                    z-index: 10000;
                    color:black;
                    font-size:  12px;
                }
                
                a{
                    font-size: 12px;
                    margin-bottom: 8px;
                }
            }
        }
        .menu {
            position: relative;

            ul {
                position: absolute;
                top: 108px;
                left: 10%;
                height: 40px;
                width: 80%;
                display: flex;

                li {
                    list-style: none;
                    width: 16.5%;
                    text-align: center;
                    border-right: 1px solid white;
                    height: 24px;
                    &:last-child{
                        border-right: none;
                    }

                    a {
                        text-decoration: none;
                        color: rgb(255, 250, 250);
                        font-size:14px;
                        &:focus{
                            border-bottom:2px solid white;
                        }
                    }
                }
            }
        }
        .header_search{
            width: 40%;
            height: 80px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
            align-items:flex-end ;
            position: relative;
            form{
                width: 100%;
            }
            input{
                float: left;
                height: 32px;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                border:none;
                padding-left: 8px;
                border-radius:0;
            }
            button{
                float: left;
                height: 32px;
                width: 32px;
                border:none;
                display: flex;
                justify-content: center;
                align-items: center;

            }
            .searchPopup{
                height: 400px;
                width: 90%;
                position: absolute;
                top: 84px;
                left:0;
                border:1px solid white;
                background-color: #fff;
                z-index: 100;
                overflow: hidden;
                overflow-y: scroll;
                padding: 8px;
                display:none;
                button{
                    position: absolute;
                    top:10px;
                    right:10px;
                    z-index: 100;
                    background-color:transparent;
                    cursor:pointer;
                }
                div.searchList{
                    margin-top: 30px;
                }
                a{
                    text-decoration: none;
                    color:rgb(40, 45, 46);
                    p{
                        font-size: 14px;
                        span{
                            margin-left: 8px;
                        }
                    }
                }
            }
        }
    }

    .carousel {
        height:325px;
        .carousel-inner{
            position: relative;
            top:-40px;
        }
       
        background-color: rgb(102, 101, 101);
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .choices {

        .content {
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap:30px;
            
            a {
                text-decoration: none;
                &:hover{transform:scale(1.01);transition:.3s;}
                div {
                    border: 1px solid rgba(214, 214, 214, 0.466);
                    height: 240px;
                    padding:10px;
                    h3 {
                        text-align: center;
                        color: black;
                        font-size: 16px;
                        font-weight: 250;
                    }
                    

                }
            }
        }

    }
    .container{
        .history,.lamp,.transistor{
            margin-top: 24px;
            .history_content{
                display: flex;
                justify-content: space-evenly;
                .amplification_text{
                    font-size:14px;
                    padding: 16px;
                }
                .amplification_img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }
            }
        }
        [class*=reveal-]{
            opacity:0;
            transform:translateX(-30px)
        }
        .reveal-visible{
            opacity:1;
            transform:translateX(0) ;
            transition:.5s cubic-bezier(0.19, 1, 0.22, 1);
        }
        .reveal-1{
            transition-delay: .1s;
        }
        .reveal-2{
            transition-delay: .2s;
        }
    
    }

    footer{
        color:white;
        height: 275px;
       .container{
           .plan{
               margin-top: 24px;
               p{
                   font-size: 24px;
               }
               ul{
                   margin-left: 8px;
                   li{
                       list-style: none;
                       a{
                           text-decoration:none;
                       }
                   }
               }
           }
           .logo{
               margin-top: 24px;
               h1{
                   font-family: 'Bangers', cursive;
               }
               span.footer{
                   display: block;
               }
           }

       }
    }
    /************************************************************************************************ */
    /**                       Media-queries                                                           */
    /************************************************************************************************ */



    @media screen and (max-width:768px) {
        margin: 0;
        padding: 0;
        width:100vw;
        header{
            display: block;
            .contact{
                display: block;
                span.left{
                    display: none;
                }
                .right{

                    span.phone{
                        font-size: 14px;
                        position: absolute;
                        top:7px;
                        left:80px;
                        width: 30%;
                    }
                    .texteRight{
                        display: none;
                    }
                }
                .hamburger{
                    position: relative;
                     left:16px;
                    top:8px;
                    display: block;
                     height: 50px;
                     width: 50px;
                    cursor:pointer;
                    span{
                         position: absolute;
                         height: 3px;
                         width: 70%;
                         background-color: #fff;
                         &::before{
                           content:"";
                           display: block;
                             position: absolute;
                             height: 3px;
                             width: 100%;
                             background-color: #fff;
                             top:10px;
                         }
                        &::after{
                            content:"";
                            display: block;
                            position: absolute;
                            height: 3px;
                            width: 100%;
                            background-color: #fff;
                            top:20px;
                         }
                     }
                 }
            }
            .menu{
                position: relative;
                top:-66px;
                display: block;
                height: 100vh;
                width: 160px;
                transform: translateX(-160px);
                background-color: #000;
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        border:none;
                    }
                }

            }
            .logo{
                display: none;
            }
            .header_search{
                position: absolute;
                top:70px;
                width: 90%;
                margin-left: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                input{
                    width: 80%;
                    outline:none;
                }
                .searchPopup{
                    top:56px;
                }
            }
            .contact{
                position: relative;
            }
            .header_panier{
                position: absolute;
                top:4px;
                right: 8px;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 16px;
                font-size: 8px;
                font-weight: normal;
                width: 120px;
                
                span.panierText{
                    font-size: 12px;
                }
                .popup_panier{
                    display: none;
                    height: 0;
                    width: 0;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    position: relative;
                    right: 60px;
                    top:8px;
                    padding: 8px;
                    // height: 140px;
                    width: 340px;
                    z-index:200;
                    background-color: #fff;
                    border-radius:4px;
                    box-shadow: 0 0 10px  black;
                    .result_panier{
                        border:1px solid rgba(128, 128, 128, 0.527);
                        padding: 4px;
                        display: grid;
                        grid-template-columns: 20% 60% 20%;
                        p{
                            color:black;
                            font-size: 12px;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    span{
                        display: block;
                        z-index: 10000;
                        color:black;
                        font-size:  12px;
                    }
                    
                    a{
                        font-size: 12px;
                        margin-bottom: 8px;
                    }
                }
                
            }
        }
        section.carousel{
            display: none;
        }
        section.choices{
            .content{
                grid-template-columns: repeat(2,1fr);
                
                gap: 4px;
            }
        }
        .container{
            .history{
                padding-top: 40px;
            }
        }
        footer{
            height: 300px;
            .col-xl-6:nth-child(1){
                display: none;
            }
        }
    }
}