$color:rgb(86, 107, 112);
$color2:rgb(45, 57, 59);
.move_searh{
    transform: translateX(0);
    display: block;
}
.containerChoix {       // div choix des catégories
    
    margin: 50px 120px;
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    gap:8px;
    width: 90%;

    a {
        text-decoration: none;
        color: $color2;

        .carde {
            display: flex;
            align-items: center;
            border: 1px solid rgba(128, 128, 128, 0.303);
            height: 120px;
            p {
                width: 120px;
                font-size: 14px;
                margin-left: 8px;
            }
            img{
                height: 80px;
                margin-left: 8px;
            }
            
        }
    }
}

.container_page_guitare {
    //div principale pour lister les biens
    display: flex;
    margin: 48px 120px;


    .widget {       /** côté gauche du container  */
        background-color: rgba(240, 238, 238, 0.486);
        padding: 10px;
        width: 20%;
        h1{
            font-size:24px;
            span{
                color:transparent;
            }
        }
        h2 {
            font-weight: 100;
            font-size: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }
        .icon_filter{
            display: flex;
            justify-content: space-evenly;
            span{
                margin:0 8px;
            }
        }
        .marqueList{
            margin-top: 16px;
            padding: 18px;
            border:1px solid black;
            img{
                margin-bottom: 8px;
            }
           
        }

        .search {
            form {
                font-size:14px;
                .select {
                    font-size: 14px;
                    padding: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 32px;
                    label{
                        padding-top: 5px;
                    }
                    select {
                        outline: none;
                        margin-left: 0px;
                        width: 100%;

                    }

                }

                .count {
                    margin-top: 16px;
                    width: 100%;
                    height: 240px;
                    display: block;
                    overflow: hidden;
                    overflow-y: scroll;
                    box-shadow: 0 0 1px rgb(223, 219, 219) inset;
                    margin-bottom: 24px;

                    input[type=checkbox] {
                        width: 20%;
                    }

                    label {
                        width: 80%;
                        font-size: 14px;
                    }
                }

                .price {
                    margin-top: 48px;

                    input {
                        width: 45%;
                        font-size: 14px;
                        color:black;
                        padding-left: 8px;
                    }
                }
            }
        }

        .count::-webkit-scrollbar {
            /* Scrollbars */
            width: 8px;
           // background-color: rgb(217, 221, 221);
        }

        .count::-webkit-scrollbar-thumb {
            background-color: rgb(4, 31, 46);
            border-radius: 8px;
            width: 4px;
        }

        

    }

    .liste_guitare {  /** côté droit du container */
       
        width: 80%;

        

        .content {
            margin-left: 48px;
            margin-top: 24px;
            width: 80%;
            display: grid;
            grid-template-columns: 32% 32% 32%;
            gap:10px;
            a {
                color: $color;
                text-decoration: none;
                height:auto;
                
                
                .carde {
                    min-height: 370px;
                    height:470px;
                    padding: 8px;
                    border: 1px solid rgba(1, 59, 97, 0.1);
                    border-top: none;
                    margin:auto;
                    position: relative;
                    &:hover {
                        box-shadow: 0 0 1px black;
                    }
                    .carde_img {
                        height: 255px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        img{
                            width: 80%;
                            margin:auto;
                        }
                    }

                    .cardTitle {
                        h2 {
                            font-size: 18px;
                            color: rgb(53, 52, 52);
                            margin-bottom: 0;
                        }

                        h3 {
                            font-size: 12px;
                            margin:0;
                            padding:0;

                        }
                    }

                    strike {
                        font-size: 12px;
                    }

                    .card_price {
                        display: flex;

                        p {
                            margin-left: 8px;
                        }
                    }
                    .stock{
                        position: absolute;
                        bottom:8px;
                        p.if{
                            font-size: 14px;
                            color:rgb(8, 180, 60);
                            span{
                                display: inline-block;
                                height: 12px;
                                width: 12px;
                                border-radius:12px;
                                background-color: rgb(8, 180, 60);
                                vertical-align: middle;
                                margin-right: 8px;
                            }
                        }
                        p.else{
                            font-size: 14px;
                            color:rgb(77, 78, 78);
                            span{
                                display: inline-block;
                                height: 12px;
                                width: 12px;
                                border-radius:12px;
                                background-color: rgb(77, 78, 78);
                                vertical-align: middle;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }

        .navigation {
            .pagination {
                width: 33%;
                margin: auto;
                margin-top: 16px;
            }

            span {
                height: 30px;
                width: 30px;
                border: 1px solid grey;
                text-align: center;
                margin-top: 8px;
                margin-left: 4px;
                border-radius: 2px;
            }

            .current {
                background-color: rgb(9, 120, 148);
                color: white;
            }
        }

    }
}

.menu_show {
    margin-left: 120px;
    height: 48px;
    line-height: 48px;

    span {
        color: $color;
        font-size: 14px;
        a{
            text-decoration: underline;
            color:rgb(43, 40, 40);
        }
    }
}
.title_guitare_show {
    margin-top: 48px;
    background-color: rgb(252, 248, 248);
    margin-right: 120px;

    h4 {
        font-size: 26px;
        color: black;
        font-weight: 600;
        height: 24px;
    }

    p {
        color: rgb(86, 107, 112);
        font-size: 18px;
        font-weight: 300;
        width: 100%;

        span {
            font-size: 15px;
            color: rgb(86, 107, 112);
            display: block;
        }
    }
}
.container_show {
    /**feuille de style page show.html.twig */
    margin: 24px 120px;
    display: flex;
    //justify-content: space-between;
    //flex-direction: column;
    margin-bottom: 150px;
    padding-top: 48px;
    

    .gallery {
        /** gallery images */
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.863);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            outline: none;
            cursor:pointer;
            span {
                color: rgb(255, 255, 255);
            }
        }

        .prev {
            height: 60px;
            width: 40px;
            background-color: transparent;
            border: none;
            outline: none;
            cursor:pointer;
            span {
                color: rgb(255, 255, 255);
                font-size: 44px;
            }
        }

        .next {
            
            height: 60px;
            width: 40px;
            background-color: transparent;
            border: none;
            outline: none;
            cursor:pointer;
            span {
                color: rgb(255, 255, 255);
                font-size: 44px;
            }
        }
    }

    .content_guitare_left {
        /**  côté gauche */
        width: 60%;

        .photo {
            .mean_img {
                width: 50%;
                margin: 0 25%;
            }

            .carousel_show {
                img {
                    margin-left: 24px;
                    border: 1px solid grey;
                    border-radius: 2px;
                    height: 48px;
                }

            }

        }

        .description {
            margin-top: 24px;

            h2 {
                font-weight: 100;
                color: $color;
                border-bottom: 1px solid $color;
                width: 70%;
            }

            p {
                height: 96px;
                width: 80%;
                overflow: hidden;
                font-size: 16px;
                overflow-y: scroll;
                color: $color2;
                font-size: 14px;
            }

            p::-webkit-scrollbar {
                width: 4px;
                background-color: rgb(197, 195, 195);
            }

            p::-webkit-scrollbar-thumb {
                width: 4px;
                background-color: $color;
            }
        }
    }

    .content_guitare_right {
        /** côté droit */
        width: 40%;
        padding: 8px;

        

        .price_show {
            font-size: 24px;
            color: red;
            font-weight: 300;
        }

        .condition {
            width: 100%;
            background-color: rgba(208, 243, 252, 0.459);
            padding: 8px;
            p{
                font-size:14px;
                span{
                    vertical-align: bottom;
                    margin-right: 16px;
                }
            }
        }

        .caracteristiques {
            h2 {
                font-weight: 100;
                color: $color;
                border-bottom: 1px solid $color;
                width: 70%;
            }

            p {
                height: 96px;
                overflow: hidden;
                overflow-y: scroll;
                color: $color2;
                font-size: 14px;
            }

            p::-webkit-scrollbar {
                width: 4px;
                background-color: rgb(197, 195, 195);
            }

            p::-webkit-scrollbar-thumb {
                width: 4px;
                background-color: $color;
            }

        }
    }
}

/***************************************************************************************************************** */
/** Media-queries */
/***************************************************************************************************************** */




@media screen and (max-width:768px) {
    
    .containerChoix{
        margin:0px;
        padding-top:4px;
        grid-template-columns: repeat(2, 1fr);
        gap:0;
        width: 100%;
        a{
            .carde{

                flex-direction: column;
            }
        }
        
    }
    .container_page_guitare {
        display:block;
        margin: 0;
        padding: 0;

        .widget {
            display:block;
            width: 100%;
            color:white;
            margin-top: 8px;
            
            .icon_filter{
                position: relative;
                span.material-icons{
                    display: block;
                    position: absolute;
                    left: 4px;
                    color: #3b454d;
                    font-size: 32px;
                }
            }
            
            .search {
                background-color: #3b454d;
                margin-top: 40px;
                transform: translateX(500px);
               // display: none;
               &.move_search{
                   transform: translateX(0);
                   transition:0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

               }
                form{
                    display:block;
                    .select {
                        
                        
                        padding:8px 0;
                        label{
                            display: none;
                        }
                        select{
                            width: 310px;
                            height: 32px;
                            margin-left:0;
                        }
                    }
                    h2{
                        display: none;
                    }
                    .count{
                        height: 106px;
                        display:grid;
                        grid-template-columns: repeat(3,1fr);
                        background-color: #fff;
                        color:black;
                        font-size: 10px;
                        label{
                            width: 100%;
                            font-size: 12px;
                            height: 16px;
                        }
                        input{
                            margin-right: 0;
                        }
                    }
                    .price{
                        margin: 0;
                        height: 40px;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                    }
                }
            }
            .marqueList{
                display: none;
            }
        
        }
        .liste_guitare {
            padding: 0;
            margin: 0;
            width: 100%;

            .content {
                width: 100%;
                display: grid;
                grid-template-columns: 50% 50%;
                gap:0;
                margin: 0;

                a {
                    .carde {
                        display: flex;
                        flex-direction: column;

                        .carde_img {
                            height: 240px;
                        }
                        small{
                            border-bottom: 1px solid #000;
                            display: none;
                        }

                    }
                }

            }
            .navigation{
                .pagination{
                    width: 60%;
                    
                }
            }
        }
    }
    .menu_show{
        margin-left: 8px;
    }
    .title_guitare_show{
        padding-left: 10%;
        h4 {
            font-size: 26px;
            color: black;
            font-weight: 600;
            height: 20px;
        }
    
        p {
            color: rgb(86, 107, 112);
            font-size: 14px;
            font-weight: 300;
            width: 100%;
    
            span {
                font-size: 12px;
                color: rgb(86, 107, 112);
                display: block;
            }
        }

    }
    .container_show{
        justify-content: space-around;
        flex-direction: column;
        margin: 0;
        margin-left: 8px;
        padding: 0;
        .content_guitare_left{
            width:100%;
            
        }
        .content_guitare_right{
            width: 100%;
        }
         
        .gallery {
            /** gallery images */
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0px;
            right: 0px;
            background-color: rgba(0, 0, 0, 0.863);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            
            .lightbox_container{
                img{
                    width: 100%;
                }
            }
            .close {
                position: absolute;
                top: 20px;
                right: 20px;
                outline: none;
                cursor:pointer;
                span {
                    color: rgb(240, 236, 236);
                }
            }
    
            .prev {
                position: absolute;
                top:50%;
                left:8px;
                height: 60px;
                width: 40px;
                background-color: transparent;
                border: none;
                outline: none;
                cursor:pointer;
                span {
                    color: rgb(179, 19, 19);
                    font-size: 44px;
                }
            }
    
            .next {
                position: absolute;
                top:50%;
                right:8px;
                height: 60px;
                width: 40px;
                background-color: transparent;
                border: none;
                outline: none;
                cursor:pointer;
                span {
                    color: rgb(179, 19, 19);
                    font-size: 44px;
                }
            }
        }
        
        
    }
    footer{
        margin-top: 20px;
    }
}