
    h3{
        color:rgb(136, 122, 122);
        font-size: 20px;
        margin-left: 32px;
        margin-top:62px;
    }
.content_panier{
    margin-left: 200px;
    display:grid;
    grid-template-columns: 40% 40%;
}

.panier_card{
    padding-top: 8px;
    margin-left: 80px;
    background-color: rgba(78, 75, 75, 0.068);
    height: 350px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
        h3{
            color:rgb(136, 122, 122);
            font-size: 14px;
        }
        p{
            font-size: 12px;
        }
        span.quantity{
            form{
                height: 60px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                input{
                    width: 40px;
                    height: 38px;
                    border:1px solid rgba(128, 128, 128, 0.418);
                }
                a.btn{
                    width: 40px;
                    height: 38px;
                    border:1px solid rgba(128, 128, 128, 0.418);
    
                }
                a i.fa{
                    color:rgb(136, 122, 122);
                    
                }
                
            }
            p.total{
                margin-left: auto;
                margin-right: auto;
                font-size: 17px;
            }
        }
    
    
}
.valider{
    padding: 50px;
    height: 200px;
    button{
        float:right;
        height: 80px;
        width: 320px;
        background-color: rgb(10, 47, 77);
        margin-right: 25%;
        color:white;
        border:none;
        border-radius: 8px;
        &:hover{
        background-color: rgb(32, 80, 119);

        }

    }
}

/*******************************Media queries *******************************************/
@media screen and (max-width:768px) {
    .content_panier{
        margin-left: 200px;
        display:block;
    }
    
    .panier_card{
        padding-top: 8px;
        margin-left: 12.5px;
        background-color: rgba(78, 75, 75, 0.068);
       // height: 350px;
        width: 75%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
            h3{
                color:rgb(136, 122, 122);
                font-size: 14px;
            }
            p{
                font-size: 12px;
            }
            span.quantity{
                form{
                    height: 60px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    input{
                        width: 40px;
                        height: 38px;
                        border:1px solid rgba(128, 128, 128, 0.418);
                    }
                    a.btn{
                        width: 40px;
                        height: 38px;
                        border:1px solid rgba(128, 128, 128, 0.418);
        
                    }
                    a i.fa{
                        color:rgb(136, 122, 122);
                        
                    }
                    
                }
                p.total{
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 17px;
                }
            }
        
        
    }
    
}