{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<div class="container pb-5 mt-5">
        <h2 class="mb-3">Nous contacter</h2>
		<div class="row">
		<i class="fas fa-user-circle fa-9x mb-5"></i>
		</div>
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
		{{ form_start(form)}}
		<div class="form-row">
			{{ form_label(form.message, 'Votre message') }}

			{{ form_widget(form.message)}}
		</div>
		<div class="form-row">
			{{ form_label(form.mail, 'Votre email') }}

			{{ form_widget(form.mail)}}
		</div>
		<button class="btn btn-success mt-5 ">Send</button>
		{{ form_end(form)}}
	</div>
{% endblock %}
