<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="image/jpeg;">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />


		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">


		{{ encore_entry_link_tags('app')}}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>

		<header>
		

			<div class="contact">
				<div class="hamburger">
					<span></span>
				</div>
				<span class="left">
					81100 Castres
					<span class="material-icons">
						room
					</span>
				</span>
				<span class="right">
					<span class="texteRight"></span>
					<span class="phone">06/76/28/57/43</span>
				</span>
			</div>
			<div class="logo">
				<h1>Music Store</h1>

			</div>
			<div class="menu">
				<ul>
				
					<li><a href="{{ path('home')}} ">Accueil</a></li>
					<li><a href="{{ path('guitare')}} ">Guitares</a></li>
					<li><a href="{{ path('ampli')}} ">Amplis&effets</a></li>
					{# <li><a href="{{ path('basse')}} ">Basses</a></li> #}
					<li><a href="{{ path('batterie')}} ">Batteries</a></li>
					<li><a href="{{ path('contact')}} ">Contact</a></li>

				</ul>
			</div>
			<div class="header_search js-search-filter">

				<form action="{{path('guitare')}}" class="js-search-form" method="get">
					<input type="text" placeholder="Rechercher..." name="q" autocomplete="off"/>
					<button type="submit">
						<span class="material-icons">
							search
						</span>
					</button>
				</form>

				<div class="searchPopup">
					<a href="">
						<p><img src="" alt=""><strong></strong>
							<span></span>
						</p>
					</a>
				</div>

			</div>
			<div class="header_panier">
				<span class="sp_p">
					{% set var = app.session.get('panier') %}
					{% set somme = 0 %}
					{% for row,h in var %}
                        {% set somme = somme + h %}
                        
					{% endfor %}
                    {{ somme }}

				</span>
				<span class="material-icons">
					shopping_cart
				</span>
				<span class='panierText'>
					<a href=" {{path('panier')}}">mon panier</a>
				</span>
				<div class="popup_panier">
				
					<a href=" {{path('panier')}}">aller au panier</a>
					<div class="result_panier">
					</div>
				</div>
			</div>
		</header>
		{% block body %}{% endblock %}
		<footer class="footer bg-dark">
			<div class="container d-flex">
				<div class="plan  col-xl-6 col-sm-6">

					<p>Plan du site</p>
					<ul>
						<li><a href="">Accueil</a></li>
						<li><a href="">Guitares</a></li>
						<li><a href="">Amplis&effets</a></li>
						<li><a href="">Batteries</a></li>
						<li><a href="">Basses</a></li>
					</ul>
				</div>
				<div class="logo  col-xl-6 col-sm-6">
					<h1>Music Store</h1>
					<span class="footer">- Plus de 700 marques</span>
					<span class="footer">- Garantie 3 ans</span>
					<span class="footer">- Paiement sécurisé</span>
					<span class="footer">- Livraison en 24 H*</span>
					<span class="footer">
						<b>- Vous souhaitez nous contacter?</b><br><small>&nbsp;&nbsp;&nbsp;&nbsp;Tél. : 06/76/28/57/43 du lundi au vendredi</small>
					</span>

				</div>
			</div>
		</footer>
		{{ encore_entry_script_tags('app')}}
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
