{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}
<h3>panier</h3>
<table>
    <thead>
        <tr>
            <th>marque</th>
            <th>modèle</th>
            <th>prix unitaire</th>
            <th>quantité</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {{ dump(item)}}
        <tr>
            
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
        </tr>
    </tfoot>
</table>
{% endblock %} 
