{% extends 'base.html.twig' %}

{% block title %}Votre panier !
{% endblock %}

{% block body %}
	<div class="container ">
		<h3 class="mt-5">Vos achats</h3>
		<div class=" content_panier">
		{% for option in options %}
			<div class="panier_card col">
				<img src="{{ option.product.image }}" width="100px"/>
				<h3>{{option.product.model}}</h3>
				<p>{{ option.product.marque}}</p>
				<p class="price">{{ option.product.price | number_format(2,'.',',') }}
					€</p>
				<span class="quantity" id="{{option.product.id}}">
					<form method="POST" id="{{ option.product.id}} ">
						<input type="hidden" value="{{option.product.price}} "/>
						<input type="text" value="{{option.quantite}}" class="qte"/>
						<a class="down btn">-</a>
						<a class="up btn">+</a>
						<a class="remove" href="{{path('remove',{id:option.product.id})}} " id="remove{{ option.product.id}}">
							<i class="fa fa-trash fa-2x" aria-hidden="false" style="color:grey;"></i>
						</a>
					</form>
					{% set q = option.quantite  %}
					{% set p = option.product.price  %}
					<p  class="total" id="total{{ option.product.id}}"><strong>Total</strong>
						{{ q * p }}

						€ TTC</p>
				</span>
			</div>
		{% endfor %}
		</div>


	</div>
		<div class="valider ">
				<button class="btn_valider">Valider votre comande
				<span></span>
				 </button>
		</div>


		    
{% endblock %}
