{% extends 'base.html.twig' %}

{% block title %}Nos guitares{% endblock %}

{% block body %}
<div class="containerChoix">
   {% include "includes/categorie.html.twig" %}
</div>
<div class="container_page_guitare js-filter">

    <aside class="widget">
        <!-- côté gauche -->
       
        <div class="icon_filter">
        <span class="material-icons list">list</span><span>Filtrer votre recherche</span>
        </div>
        <div class="search">
            {% include "includes/aside.html.twig" %}
        </div>
        <div class="marqueList">
            {% for marque in marques %}
                <div class="marqueImage">
                    <img src="/uploads/images/marques/{{ marque.images}} " alt="" height="20px">
                </div>
            {% endfor %}
        </div>
    </aside>
    <!-- côté droit -->
    <div class="liste_guitare">
        <div class="content js-content">
            {% include "includes/card.html.twig" %} <!-- affichage des articles -->
        </div>
        <div class="navigation">
            {{ knp_pagination_render(items) }}
        </div>
    </div>

</div>

{% endblock %}